.card {
    border-radius: 8px;
    font-size: 14px;
}
.card-body {
    padding: 12px;
}
.card-title {
    font-size: 16px;
    font-weight: 600;
    color: #343a40;
}
.card-text {
    font-size: 13px;
}
.card-text.text-secondary {
    color: #000000 !important; /* Muted gray for status */
}
.card-text.text-info {
    color: #17a2b8; /* Info blue for production item */
}
.card-text.text-primary {
    color: #ba2ade !important; /* Primary blue for quantity */
}


