.custom-box {
    width: 300px;
    border-radius: 10px;
    font-size: 0.75rem;
    padding: 1rem;
}
.d-flex {
    gap: 15px; /* Add space between the two boxes */
}
.progress {
    margin-top: 10px;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
}
.timeline li {
    margin-bottom: 10px;
}
.timeline li.completed {
    color: #28a745; /* Green for completed */
}
.timeline li.pending {
    color: #dc3545; /* Red for pending */
}